* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Common */
/* body {
  height: 5000px;
} */

/* App.js */
.app-container {
  height: 67px; 
}
.main-container {
  width: 100%;
}

/* Header.js */
.header-container {
  width: 100%;
  display: flex;
  background-color: #fff9f9;
  position:fixed;
  z-index: 1;
}

.header-container > ul{
  margin: 0 auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.header-container > ul > li{
  padding: 16px;
}

.header-container > ul > li > a {
  color: #333;
  text-decoration: none;
}
/* Main.js */
.main-header-container > h2{
  margin: 40px 0px;
  text-align: center;  
}
.main-article-container {
  margin: 20px auto;
  display: table;
}
.main-article-container > span {
  display: table-cell;
  vertical-align: middle;
  width: 440px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.main-article-container > img { 
  display: table-cell;
  vertical-align: middle;
  width: 600px;
}
/* Footer */
.footer-container  {
  background-color: #fff9f9;
  width: 100%;
  height: 100px;
}
.footer-container > section {
  margin-left: 15%;
}
.footer-container > section > h6 {  
  color: #858585;
}