* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Common */
/* body {
  height: 5000px;
} */

/* App.js */
.app-container {
  height: 67px; 
}
.main-container {
  width: 100%;
}
/* Main.js */
.main-header-container > h2{
  margin: 40px 0px;
  text-align: center;  
}
.main-article-container {
  margin: 20px auto;
  display: table;
}
.main-article-container > span {
  display: table-cell;
  vertical-align: middle;
  width: 440px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.main-article-container > img { 
  display: table-cell;
  vertical-align: middle;
  width: 600px;
}
/* Todolist.jsx */
.react-calendar {
  width: 100%;
}

